<!DOCTYPE html>
<html>
<head>
    <title>RNN</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <!-- <link href="http://thomasf.github.io/solarized-css/solarized-light.min.css" rel="stylesheet"></link> -->
    <!-- <link href="http://thomasf.github.io/solarized-css/solarized-dark.min.css" rel="stylesheet"></link> -->
</head>
<body>
    <header>
        <div class="container">
            <a href="{{url_for('read_root')}}"><h1>Rat News Network</h1></a>
        </div>
    </header>

    <div class="container content">
        <!-- Have the image be a background to the title. it should have a gradient of fading transparency -->
        <h1>{{ title }}</h1>
        <div class="overview">{{ overview|safe }}</div>
        <br>
        <img src="{{url_for('static', path=img_path)}}" alt="article image">
        
        
        <br>
        <div class="article-body">{{ body|safe }}</pre>
    </div>

    <footer>
        <p>&copy; 2023 RatNewsNetwork. All rights reserved.</p>
    </footer>
</body>
</html>
